Magic 271485
Revision Verdi_O-2018.09-SP2-11

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 2560 594 307 179

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/mnt/ramdisk/tod/sim/tb_tod_core.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 209.016800 4926.824570
cursor 1680.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 1

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname tod_core(@1).time_sub_ns_limit
nalias TIME_WIDTH_SUB_NS		21'b000000000000000010100		NULL

addGroup "G1"
activeDirFile "" "/mnt/ramdisk/tod/sim/tb_tod_core.fsdb"
addSignal -h 15 /tb_tod_core/tod_core/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope plus_offset_time
addSignal -h 15 -holdScope time_sub_ns_nxt[20:0]
addSignal -h 15 -holdScope time_sub_ns[19:0]
addSignal -h 15 -holdScope incr_time_sub_ns[19:0]
addSignal -h 15 -holdScope offset_time_sub_ns[19:0]
addSignal -h 15 -holdScope ns_adv[1:0]
addSignal -h 15 -holdScope set_offset_time
addGroup "G2"
addSignal -h 15 /tb_tod_core/tod_core/time_sec[47:0]
addSignal -h 15 -holdScope time_ns[31:0]
addSignal -h 15 -holdScope time_sub_ns[19:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/mnt/ramdisk/tod/sim/tb_tod_core.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tb_tod_core"

SCOPE_LIST_BEGIN
"/tb_tod_core"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


